*{
    margin: 0;
    padding: 0;
}

.card-body {
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: #171e2b;
    height: 700px;
    width: 350px;
    border-radius: 40px;
}
.first {
    background: rgb(61,153,234);
background: linear-gradient(0deg, rgba(61,153,234,1) 50%, rgba(0,212,255,1) 100%);
    height: 50%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.arrow{
    height: 20px;
}
.shoping_cart{
    height: 23px;

}
.firstPart{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 25px;
}
.cardImg{
    background-color:white;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.secondPart{
    display: flex;
    
    justify-content: space-between;
    height: calc(100% - 80px);
}
.wordPart{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 20px;
}
.control1{
    transform: rotate(270deg);
    height: 300px;
    width: 300px;
    object-fit: contain;
    padding: 0 10px 18px 0;
}
.second{
    background-color: #171e2b;
    height: 50%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.mainPart{
    margin: 0 20px;
background-color: #171e2b;
height: 90%;
}
.heading{
    background-color:#171e2b;
    margin-top: 30px;
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}
.secondParagraph{
    font-size: 17px;
    background-color: #171e2b;
    margin-bottom: 10px;
    color: white;
}
 
.box{
    background-color: #171e2b;
    height: 110px;
    width: 50%;
}
.layer{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: red;
}
.firstBox{
    width: 50%;
    background-color: #171e2b;
    display: flex;
}
.boxShadow{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color:grey;
    border-radius: 12px;
    
}
.boxText{
    margin-left: 50px;
}
.boxTwo{
    margin-top: 20px;
}
.efgh{
    display: flex;
    flex-direction: row;
    background-color: blue;
}
.firstLayer{
    background-color: #171e2b;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.secondBox{
    display: flex;

    width: 50%;
}
.buttonParent{
    background-color: #252b3c;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    border-radius: 15px;

}
.price{
    margin-left: 20px;
    font-size: 35px;
}
.price::first-letter{
    font-size: 23px;
    color: blue;
}
.price::first-line{
    color: white;
}
.wordPartColor{
    color: white;
}
.preorder{
    background-color: #3e97ea;
    font-size: 19px;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    color: white;
}
.RAImage{
    background-color:#3e97ea ;
    height: 40px;
    border-bottom-right-radius: 7px;
    margin-right: 10px;
    border-top-right-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid black;
}
.buttonP{
    display: flex;
}